.read-page-wide .read-content-pages {
  box-shadow: -1px 0 0 var(--border-color);
}

.read-page-wide .read-control .header-line {
  width: 49px;
  height: 100vh;
  border-bottom: 0 none;
  border-right: 1px solid var(--border-color);
  left: -50px;
  top: 0;
}

.read-page-wide .read-control.read-control-active .header-line {
  left: 0;
  transition: left step-start 0.05s;
}

.read-page-wide .read-control .footer-line {
  transform-origin: left bottom;
  transform: rotate(-90deg);
  left: 100%;
  width: 100vh;
  height: 50px;  
  line-height: 50px;
}

.read-page-wide .read-control .footer-line .icon-line {
  height: 50px;
  width: auto;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.read-page-wide .read-control .footer-line .icon-line-item {
  flex: 0 0 50px;
}

.read-page-wide .read-control .footer-line .icon-line-item button {
  height: 50px;
  line-height: 50px;
  transform: rotate(90deg);
}

.read-page-wide .read-index {
  width: 299px;
  border-right: 1px solid var(--border-color);
}

.read-page-wide .read-index .header-left button {
  transform: rotate(90deg);
}

.read-page-wide.read-show-index .read-layer {
  left: 300px;
  right: 0;
}

.read-page-wide.read-show-index .read-index {
  left: 0;
}

.read-page-wide.read-show-index .read-body-left {
  right: calc(calc(50vw + calc(var(--page-margin-x) / 2)) - 150px);
}

.read-page-wide.read-show-index .read-body-right {
  left: calc(calc(50vw + calc(var(--page-margin-x) / 2)) - 150px);
}
