/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 */

.light-theme {
  color-scheme: light;

  --default-background: #fff;
  --default-color: #000;
  --active-color: #c1752b;

  --header-background: #f2f1f6;

  --highlight-background: #00000030;
  --border-color: #c6c6c8;

  --search-title-color: #7e7e7e;
  --list-title-color: #000;
  --list-comment-color: #878789;
  --list-detail-color: #bcbcbe;
  --list-active-background: #f3eddd;

  --menu-background: #eeeeee;
  --menu-color: #deab3e;

  --search-placeholder: #848389;
  --search-background: #e4e3e9;

  --tabber-color: #858587;
  --tabber-active-color: #fff;
  --tabber-background: #f4f4f4;
  --tabber-active-background: #b6b6b8;

  --range-lower-color: #c4c4c4;
  --range-upper-color: #dedede;
  --range-thumb-color: #fff;
  --range-thumb-border-color: #e7e7e7;

  --config-background: #f2f1f6;
  --config-title-color: #717176;
  --config-content-color: #000;
  --config-item-background: #fff;

  --remove-background: #eb4d3d;
  --remove-color: #fff;

  --alert-cover-background: #0007;
  --alert-background: #efefef;
  --alert-text: #000;
}
